.bar-detail__headline {
    text-align: center;
}

.bar-detail__subline {
    text-align: center;
}

.bar-detail__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 0 auto;
    max-width: 400px;
}

.bar-detail__description {
    text-align: center
}

.bar-detail__table {
    text-align: center;
}