html {
    font-family: 'Roboto', sans-serif;
}

figure {
    margin: 0;
}

.body__background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-image: url("images/background.jpg");
}

.chakra {
    background-image: url("images/chakra_cafe.jpg");
}
.berliner {
    background-image: url("images/berliner_betrueger.jpg");
}
.skyline {
    background-image: url("images/skyline_bar_20up.jpg");
}
.bar-decaio {
    background-image: url("images/bar-decaio.jpg");
}
.le-lion {
    background-image: url("images/lelionbar.jpg");
}
.tower-bar {
    background-image: url("images/tower-bar.jpg");
}
