.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__headline {
    text-align: center;
}

.main__subline {
    text-align: center;
}

.main__search {
    text-align: center;
}

.main__submit {
    margin: 5px;
}